<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Andrew's Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <stats number="6" comments="Pull Requests" colour="primary" type="comments"></stats>
        <stats number="12" comments="New Milestones" colour="primary" type="user"></stats>
        <stats number="18" comments="Orders" colour="yellow" type="shopping-cart"></stats>
        <stats number="24" comments="Uh-Oh! Support!" colour="red" type="support"></stats>

    </div>
        <div class="col-lg-6 col-sm-12" id="bar-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Development Experience</div>
            <div class="panel-body">
                <canvas id="bar" class="chart chart-bar" data="bar.data" labels="bar.labels" legend="true" series="bar.series"
                options="bar.options"></canvas>
            </div>
        </div>
    </div>
        <div class="col-lg-6 col-sm-12" id="doughnut-chart" ng-controller="ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Top Development Languages</div>
            <div class="panel-body">
            <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="donut.data" labels="donut.labels" legend="true"></canvas>
            </div>
        </div>
    </div>
    
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> What Have I Been Up To?
                </div>
                <!-- /.panel-heading -->
                <timeline></timeline>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>
                <!-- /.panel-heading -->
                <notifications></notifications> 
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <chat></chat>
             <!-- /.panel .chat-panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
