<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">My Background</h1>
			<img height="250px" src="../../../views/images/meAtOffice.jpg">
			<p>
				I am a former helicopter mechanic - turned web developer from northern Alabama.  I have been fortunate to have travelled quite a bit and see a lot of adventure!  Working through school, I got a contract in Charleston, SC.  That's where I found out about The Iron Yard coding bootcamp and decided to give it a try.  I am extremely glad I did because it's been one of the best decisions I've made!  Since then, It's been a bit of a whirlwind - working with the brightest (and probably the craziest) people who make you realize that there really is no limit to what you can do!
			</p>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>