<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li ng-class="{active: collapseVar==1}">{{dropDown}}
                <a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i>Projects<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ui-sref-active="active">
                        <a href="https://legacybox.com">Legacybox.com</a>
                    </li>
                    <li ui-sref-active="active">
                        <a href="https://chattbikev2.firebaseapp.com/">Chattanooga Bike Transit Mobile App</a>
                    </li>
                    <li ui-sref-active="active">
                        <a href="https://stork-ships.firebaseapp.com/">Stork Shipping Splash</a>
                    </li>
                    <li ui-sref-active="active">
                        <a href="https://openweather-forecast.firebaseapp.com/#/dashboard/home">Clean Admin</a>
                    </li>
                    <li ui-sref-active="active">
                        <a href="https://goods-inventory.firebaseapp.com/">Internal Inventory project</a>
                    </li>
                    <li ui-sref-active="active">
                        <a href="https://scheduling888.firebaseapp.com/">Scheduling demo project</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==2}">
                <a href="" ng-click="check(2)"><i class="fa fa-sitemap fa-fw"></i> About Me <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                    <li>
                        <a href="https://github.com/andrew8888">GitHub</a>
                    </li>
                    <li>
                        <a href="http://www.angularandrew@wordpress.com">My New Blog</a>
                    </li>
                    <li>
                        <a ui-sref="dashboard.blank" ng-click="selectedMenu='blank'">My Background</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



